extends layout

block content
	- var end_date = to_date

	h1= "Online education trends"
	br
	div	Viewing from
		strong	#{from_date}
		| &nbsp; to &nbsp;
		if (end_date === null)
			strong present
		else
			strong #{to_date}
	br
	-if (tweets_data.length == 0) {
		div(class="notice_no_data") - No data available
	-}
	-else {
	
	table(class="tweets_data")
		thead
			tr
				th Date
				th Tweet
		tbody
		each val in tweets_data
			tr
				td=val.date
				td(class="tweet_class")=val.tweet
	-}
	br
	br

	form(id="form_1", name="form_1", class="form_border")
		h3 Filter by date
		| From:  &nbsp;
		input(class="datepicker", id="input1", name="input1", type="text")
		br
		br
		| To: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		input(class="datepicker", id="input2", name="input2", type="text")
		p
		input(type="submit", value="Submit")
	br
	br
	h1 Trends from selected dates
	canvas(id="myChart", width="800", height="600")
	script.
		var ctx = document.getElementById("myChart").getContext("2d");
		var myLineChart = new Chart(ctx).Line(!{JSON.stringify(graph_data)});